body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.search-icon-image {
    width: 80px;
    height: 80px;
    background: #999;
    float: left;
    margin: 0 20px 20px 0;
}

h2 {
    clear: both;
}

#loader {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
}